{% extends 'base.html' %}
{%load static %}

{% block title %}
Post
{% endblock title %}
{% block css_files %}
    <link rel="stylesheet" href= "{% static 'blog/post_details.css' %}"/>
{% endblock css_files %}

{% block content %}
    <section id="summary">
        <h2>{{p.title}}</h2>
        {% include "blog/includes/post.html" %}
         <article>
            <img src="{% static "blog/images/"|add:p.image_name %}" alt="{{ p.title }}" />
            <address>By <a href="mailto:{{p.author.email_address}}" >{{ p.author }}</a></address>
            <div>Last updated on <time>{{ p.date|date:"d M Y" }}</time></div>
          </article>
        </section>
        
        <main>
          {{ posts.content|linebreaks }}
        </main>
        {% endblock %} 
